@tailwind components;
@tailwind utilities;

:root {
  --window-bg: #1a1b26;
  --window-fg: #c0caf5;
  --brand: 216 90% 46%;
  --brand-foreground: #fff;
}

article figure {
  margin: 20px 0;
  text-align: center;
  img {
    margin: 0 auto;
  }
  figcaption {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
  }
}

.nextra-filetree {
  display: flex;
  justify-content: center;
}

:is([data-language='vi'] code .line .highlighted) {
  --tw-shadow-color: transparent;
  --shiki-token-keyword: white;
  --shiki-color-text: white;
  font-weight: bold;
  background-color: transparent;
  margin-right: -7px;
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    inset: 0;
    width: calc(100% - 7px);
    height: 100%;
    background-color: hsl(0, 100%, 40%);
    z-index: -1;
  }
}

.DocSearch-Button {
  @apply bg-black/5;
}

.dark {
  .DocSearch-Button {
    @apply bg-white/5 text-white/60 w-40;
    &:hover {
      @apply bg-white/10 text-white/60 shadow-none;
    }
    .DocSearch-Search-Icon {
      @apply text-white/20 w-4;
    }
    .DocSearch-Button-Key {
      @apply shadow-none bg-none;
    }
    .DocSearch-Button-Key--pressed {
      @apply translate-y-0;
    }
    .DocSearch-Button-Placeholder {
      @apply text-sm;
    }
  }
  .DocSearch-Container {
    @apply bg-black/90;
    .DocSearch-Modal {
      @apply bg-gray-800 shadow-none;
    }
    .DocSearch-Hit-source,
    .DocSearch-Form,
    .DocSearch-Footer {
      @apply bg-transparent;
    }
    .DocSearch-Footer {
      @apply shadow-none border-t border-white/5;
      .DocSearch-Commands {
        display: none;
      }
    }
    .DocSearch-Form {
      @apply shadow-none border-2 border-brand;
      .DocSearch-MagnifierLabel {
        @apply text-brand;
      }
      .DocSearch-Input {
        @apply text-white !outline-none !ring-0 !border-none !shadow-none appearance-none;
      }
    }
    .DocSearch-Hit {
      a {
        @apply bg-gray-700/50 shadow-none;
        .DocSearch-Hit-title {
          @apply text-white/60;
        }
      }
      &[aria-selected='true'] a {
        @apply bg-brand;
      }
    }
    .DocSearch-Hits mark {
      @apply text-brand;
    }
    .DocSearch-Hit-source {
      @apply text-white/60;
    }
  }
}
